.cats {
  width: 100%;
  padding: 0 3.74%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cat-block {
  position: relative;
  width: 225px;
  height: 225px;
  margin: 0 auto 48px auto;
}

.cat-block:hover .img {
  width: 107%;
  height: 107%;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}



.cats__heart {
  display: none;
  position: absolute;
  bottom: 0;
  left: 80%;
  cursor: pointer;
}

.cat-block:hover .cats__heart {
  display: block;
}

.cats__favorite {
  position: absolute;
  cursor: pointer;
  bottom: 5%;
  left: 70%;
}

 .cat-block:hover .cats__favorite {
  bottom: 0;
  left: 80%;
}

.cats__load-more-cats-link {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:400;
}

.cats__load-more-cats-link p {
    margin: 0 0 31px 0;
    cursor: pointer;
    text-align: center;
}